{{question.ask}} asked by {{question.asker}}

Answers:
<ul>
  {{#each question.answers as |answer|}}
    <li>{{answer.answerer}}'s {{answer.answerContent}}</li>
  {{/each}}
</ul>

<button {{action 'destroyQuestion' question}}>Delete Question?</button>
