{{#if updateQuestionForm}}
    <div>
      <form>
          <div class="form-group">
              <label for="ask">Your Question:</label>
              {{input value=ask id="questionUpdate" placeholder=question.ask}}
          </div>

          <div class="form-group">
              <label for="asker">Your Name:</label>
              {{input value=asker id="questionerUpdate" placeholder=question.asker}}
          </div>

          <div class="form-group">
              <label for="notes">Supplementary info:</label>
              {{input value=notes id="notesUpdate" placeholder=question.notes}}
          </div>

        <button {{action 'update' question}}>Update</button>
      </form>
    </div>
{{else}}
    <button {{action 'updateQuestionForm'}}>Update Question</button>
{{/if}}
